 .subsiteboxlink {
            width:20%;
            height:200px;
            background-color:#0094ff;
            float:left;
            overflow:hidden;
            cursor:pointer
        }

        .subsitetabs {
            /*background-color:#fff;*/
            width:85px;
            height:78px;
            float:left;
            overflow:hidden;
            border:1px solid white;
        }

        .selectedSiteTab {
            width:85px;
            height:87px;
            float:left;

        }
